body {
	padding: 0;
	margin: 0;
}

.header {
	text-align: center;
	padding: 2vh;
	width: 100vw;
}

.game {
	margin: 0;
	height: 90vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.player-one,
.player-two {
	background-color: rgb(83, 167, 83);
	height: 60%;
	width: 10vw;
	padding: 5px;
	margin: 20px;
	border: 1px solid black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	border: 4px solid black;
	box-shadow: 5px 5px 5px black;

	color: white;
}

.player-one {
	background-image: url("./img/pirate.png");
}

.player-two {
	background-image: url("./img/pirate\ cat.jpeg");
	background-position: -360px;
}

#board {
	background-color: rgb(184, 178, 178);
	min-height: 900px;
	min-width: 900px;
	border: 2px solid black;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;

	background-image: url(./img/darksea.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

.shipboard,
.opponend {
	margin: 30px;
	padding: 0px;
	height: 400px;
	width: 400px;
	display: grid;
	grid-template: repeat(10, 1fr) / repeat(10, 1fr);
	gap: 0;

	border: 2px solid black;
}

.shipboard {
	justify-self: left;
}

.opponend {
	justify-self: right;
}

.footer {
	width: 100vw;
	position: absolute;
	bottom: 0;
	padding: 2vh;

	text-align: center;
}

#new-game-popup,
#game-over-prompt {
	text-align: center;
	width: 250px;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;

	padding: 20px;
	background-color: rgba(128, 128, 128, 0.59);
	grid-area: 1 / 1 / -1 / -1;
}

input {
	margin: 10px;
}

.field {
	width: 100%;
	height: 100%;
	background-color: rgba(77, 180, 77, 0.619);
	border: 2px solid black;
}

.occupied {
	background-color: rgb(10, 47, 34);
}

.empty,
.ship {
	background-color: rgba(54, 54, 212, 0.564);
}

.hit {
	background-color: rgba(170, 12, 12, 0.652);
}

.miss {
	background-color: rgba(42, 170, 239, 0.737);
}
